.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista {
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}